.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.search-icon {
  padding: 2px;
  font-size: 12px;
}

input[type="text"] {
  padding: 2px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
